* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient( to left, rgb(236, 233, 29), rgb(124, 201, 79));
}

.delete-btn,
.update-btn,
.submitBtn,
.updateBtn,
.cancelBtn {
    width: 100px;
    height: 20px;
    border: none;
    color: white;
    border-radius: 12px;
}

.delete-btn {
    background-color: red;
}

.update-btn {
    background-color: blue;
}

.submitBtn {
    background-color: green;
}

.updateBtn {
    background-color: purple;
}

.cancelBtn {
    background-color: midnightblue;
}

img {
    width: 90px;
    float: left;
    margin: 10px;
}

h1 {
    color: blue;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 10px;
}

button {
    margin: 10px;
}

.creationForm {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: 30px;
}

#updateForm {
    display: flex;
    flex-direction: column;
}

.creationForm>label,
.creationForm>input,
.creationForm>textarea,
.creationForm>select {
    display: block;
    margin: 5px 10px;
    border-radius: 12px;
}

#updateForm>label,
#updateForm>input,
#updateForm>textarea,
#updateForm>select {
    display: block;
    margin: 5px 10px;
}

.inputError {
    border: 1px solid red;
}

.errorMsg {
    margin-left: 10px;
    color: red;
    display: block;
    font-size: 14px;
}


/* Responsive design */


/* @media screen and (max-width:1024px) {
    .creationForm>label,
    .creationForm>input,
    .creationForm>textarea,
    .creationForm>select {
        display: block;
        margin: 5px 10px;
        
    }
} */